In [2]:
#import packages
#Wow am I actually writing Python?
import pandas as pd
import boto3
from boto3 import session
from boto3 import client
import os
import io

In [3]:
#Connect to S3
#Keys passed through as Environmental Variables
s3 = boto3.resource('s3')

my_bucket = s3.Bucket('mindex-data-analytics-code-challenge')

for file in my_bucket.objects.all():
    print(file.key)

bengals.csv
boyd_receiving.csv
chase_receiving.csv
higgins_receiving.csv

In [4]:
#Download the files to a local directory
#I am sure there is some kind of for loop I could do here
s3 = boto3.client('s3')

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="bengals.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/bengals.csv"
)

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="boyd_receiving.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/boyd_receiving.csv"
)

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="chase_receiving.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/chase_receiving.csv"
)

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="higgins_receiving.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/higgins_receiving.csv"
)

In [5]:
#Read CSVs into Dataframes
#Entire Bengals team including win loss record
BTeam = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/bengals.csv")

#Tyler Boyd Stats
Boyd = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/boyd_receiving.csv")

#Jamaar Chase stats
Chase = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/chase_receiving.csv")
Chase.head()

#Tee Higgins stats
Higgins = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/higgins_receiving.csv")
Higgins.head()

   Week  Yards  TD
0  REG1     58   1
1  REG2     60   1
2  REG5     32   0
3  REG6     44   0
4  REG7     62   0

In [6]:
#Look at the structure of the BTeam
BTeam.info()
BTeam.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Week      25 non-null     object
 1   Opponent  24 non-null     object
 2   Location  24 non-null     object
 3   Result    24 non-null     float64
dtypes: float64(1), object(3)
memory usage: 928.0+ bytes

array(['PRE1', 'PRE2', 'PRE3', 'REG1', 'REG2', 'REG3', 'REG4', 'REG5',
       'REG6', 'REG7', 'REG8', 'REG9', 'REG10', 'REG11', 'REG12', 'REG13',
       'REG14', 'REG15', 'REG16', 'REG17', 'REG18', 'POST1', 'POST2',
       'POST3', 'POST4'], dtype=object)

In [7]:
#Look at the structure of Boyd
Boyd.info()
Boyd.head()
Boyd.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week    20 non-null     object
 1   Yards   20 non-null     int64
 2   TD      20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 608.0+ bytes

array(['REG1', 'REG2', 'REG3', 'REG4', 'REG5', 'REG6', 'REG7', 'REG8',
       'REG9', 'REG11', 'REG12', 'REG13', 'REG14', 'REG15', 'REG16',
       'REG17', 'POST1', 'POST2', 'POST3', 'POST4'], dtype=object)

In [8]:
#Look at the structure of Higgins
Higgins.info()
Higgins.head()
Higgins.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week    18 non-null     object
 1   Yards   18 non-null     int64
 2   TD      18 non-null     int64
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

array(['REG1', 'REG2', 'REG5', 'REG6', 'REG7', 'REG8', 'REG9', 'REG11',
       'REG12', 'REG13', 'REG14', 'REG15', 'REG16', 'REG17', 'POST1',
       'POST2', 'POST3', 'POST4'], dtype=object)

In [9]:
# Look at the structure of Chase
Chase.info()
Chase.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week    21 non-null     object
 1   Yards   21 non-null     int64
 2   TD      21 non-null     int64
dtypes: int64(2), object(1)
memory usage: 632.0+ bytes

array(['REG1', 'REG2', 'REG3', 'REG4', 'REG5', 'REG6', 'REG7', 'REG8',
       'REG9', 'REG11', 'REG12', 'REG13', 'REG14', 'REG15', 'REG16',
       'REG17', 'REG18', 'POST1', 'POST2', 'POST3', 'POST4'], dtype=object)

In [27]:
#Rename Columns in Chase to prepare for Joining data together
Chase.head()

#Rename Yards Column and TD column in Chase
Chase2 = Chase.rename(columns={'Yards': 'ChaseYards', 'TD': 'ChaseTD'})
Chase2.head()

   Week  ChaseYards  ChaseTD
0  REG1         101        1
1  REG2          54        1
2  REG3          65        2
3  REG4          77        0
4  REG5         159        1

In [28]:
#Rename Columns in Higgins
Higgins2 = Higgins.rename(columns={'Yards': 'HigginsYards', 'TD': 'HigginsTD'})
Higgins2.head()

   Week  HigginsYards  HigginsTD
0  REG1            58          1
1  REG2            60          1
2  REG5            32          0
3  REG6            44          0
4  REG7            62          0

In [29]:
#Rename Columns in Boyd
Boyd2 = Boyd.rename(columns={'Yards': 'BoydYards', 'TD': 'BoydTD'})
Boyd2.head()

   Week  BoydYards  BoydTD
0  REG1         32       0
1  REG2         73       0
2  REG3         36       1
3  REG4        118       0
4  REG5         24       0

In [30]:
#Merge Tables into one DataFrame
bengalsfull=BTeam.merge(Boyd2, how='left', on='Week').merge(Higgins2, how='left', on='Week').merge(Chase2, how='left', on='Week')

In [31]:
#Check structure
bengalsfull.head()

,Week,Opponent,Location,Result,BoydYards,BoydTD,HigginsYards,HigginsTD,ChaseYards,ChaseTD
0,PRE1,TB,Away,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,PRE2,WSH,Away,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,PRE3,MIA,Home,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,REG1,MIN,Home,1.0,32.0,0.0,58.0,1.0,101.0,1.0
4,REG2,CHI,Away,0.0,73.0,0.0,60.0,1.0,54.0,1.0
5,REG3,PIT,Away,1.0,36.0,1.0,0.0,0.0,65.0,2.0
6,REG4,JAX,Home,1.0,118.0,0.0,0.0,0.0,77.0,0.0
7,REG5,GB,Home,0.0,24.0,0.0,32.0,0.0,159.0,1.0
8,REG6,DET,Away,1.0,7.0,0.0,44.0,0.0,97.0,0.0
9,REG7,BAL,Away,1.0,39.0,0.0,62.0,0.0,201.0,1.0
10,REG8,NYJ,Away,0.0,69.0,1.0,97.0,0.0,32.0,1.0
11,REG9,CLE,Home,0.0,11.0,0.0,78.0,0.0,49.0,0.0
12,REG10,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,REG11,LV,Away,1.0,49.0,0.0,15.0,0.0,32.0,1.0
14,REG12,PIT,Home,1.0,13.0,0.0,114.0,1.0,39.0,0.0
15,REG13,LAC,Home,0.0,85.0,0.0,138.0,1.0,52.0,0.0
16,REG14,SF,Home,0.0,55.0,0.0,114.0,0.0,77.0,2.0
17,REG15,DEN,Away,1.0,96.0,1.0,23.0,0.0,3.0,0.0
18,REG16,BAL,Home,1.0,85.0,1.0,194.0,2.0,125.0,0.0
19,REG17,KC,Home,1.0,36.0,1.0,62.0,0.0,266.0,3.0
20,REG18,CLE,Away,0.0,0.0,0.0,0.0,0.0,26.0,0.0
21,POST1,LV,Home,1.0,26.0,1.0,10.0,0.0,116.0,0.0
22,POST2,TEN,Away,1.0,17.0,0.0,96.0,0.0,109.0,0.0
23,POST3,KC,Away,1.0,19.0,0.0,103.0,0.0,54.0,1.0
24,POST4,LAR,Neutral,0.0,48.0,0.0,100.0,2.0,89.0,0.0

In [32]:
#Convert Result column to string
bengalsfull['Result']=bengalsfull['Result'].astype(str)

In [33]:
#Check data types
bengalsfull.dtypes

Week             object
Opponent         object
Location         object
Result           object
BoydYards       float64
BoydTD          float64
HigginsYards    float64
HigginsTD       float64
ChaseYards      float64
ChaseTD         float64
dtype: object

In [34]:
#Replace values in Result column 
bengalsfull['Result']=bengalsfull['Result'].replace('1.0','Win')
bengalsfull['Result']=bengalsfull['Result'].replace('0.0','Loss')
print(bengalsfull)

     Week Opponent Location Result  BoydYards  BoydTD  HigginsYards  \
0    PRE1       TB     Away    Win        NaN     NaN           NaN
1    PRE2      WSH     Away   Loss        NaN     NaN           NaN
2    PRE3      MIA     Home   Loss        NaN     NaN           NaN
3    REG1      MIN     Home    Win       32.0     0.0          58.0
4    REG2      CHI     Away   Loss       73.0     0.0          60.0
5    REG3      PIT     Away    Win       36.0     1.0           NaN
6    REG4      JAX     Home    Win      118.0     0.0           NaN
7    REG5       GB     Home   Loss       24.0     0.0          32.0
8    REG6      DET     Away    Win        7.0     0.0          44.0
9    REG7      BAL     Away    Win       39.0     0.0          62.0
10   REG8      NYJ     Away   Loss       69.0     1.0          97.0
11   REG9      CLE     Home   Loss       11.0     0.0          78.0
12  REG10      NaN      NaN    nan        NaN     NaN           NaN
13  REG11       LV     Away    Win       49.0     0.0          15.0
14  REG12      PIT     Home    Win       13.0     0.0         114.0
15  REG13      LAC     Home   Loss       85.0     0.0         138.0
16  REG14       SF     Home   Loss       55.0     0.0         114.0
17  REG15      DEN     Away    Win       96.0     1.0          23.0
18  REG16      BAL     Home    Win       85.0     1.0         194.0
19  REG17       KC     Home    Win       36.0     1.0          62.0
20  REG18      CLE     Away   Loss        NaN     NaN           NaN
21  POST1       LV     Home    Win       26.0     1.0          10.0
22  POST2      TEN     Away    Win       17.0     0.0          96.0
23  POST3       KC     Away    Win       19.0     0.0         103.0
24  POST4      LAR  Neutral   Loss       48.0     0.0         100.0

    HigginsTD  ChaseYards  ChaseTD
0         NaN         NaN      NaN
1         NaN         NaN      NaN
2         NaN         NaN      NaN
3         1.0       101.0      1.0
4         1.0        54.0      1.0
5         NaN        65.0      2.0
6         NaN        77.0      0.0
7         0.0       159.0      1.0
8         0.0        97.0      0.0
9         0.0       201.0      1.0
10        0.0        32.0      1.0
11        0.0        49.0      0.0
12        NaN         NaN      NaN
13        0.0        32.0      1.0
14        1.0        39.0      0.0
15        1.0        52.0      0.0
16        0.0        77.0      2.0
17        0.0         3.0      0.0
18        2.0       125.0      0.0
19        0.0       266.0      3.0
20        NaN        26.0      0.0
21        0.0       116.0      0.0
22        0.0       109.0      0.0
23        0.0        54.0      1.0
24        2.0        89.0      0.0

In [35]:
#Fill NaNs with 0 
bengalsfull.fillna(0)

,Week,Opponent,Location,Result,BoydYards,BoydTD,HigginsYards,HigginsTD,ChaseYards,ChaseTD
0,PRE1,TB,Away,Win,0.0,0.0,0.0,0.0,0.0,0.0
1,PRE2,WSH,Away,Loss,0.0,0.0,0.0,0.0,0.0,0.0
2,PRE3,MIA,Home,Loss,0.0,0.0,0.0,0.0,0.0,0.0
3,REG1,MIN,Home,Win,32.0,0.0,58.0,1.0,101.0,1.0
4,REG2,CHI,Away,Loss,73.0,0.0,60.0,1.0,54.0,1.0
5,REG3,PIT,Away,Win,36.0,1.0,0.0,0.0,65.0,2.0
6,REG4,JAX,Home,Win,118.0,0.0,0.0,0.0,77.0,0.0
7,REG5,GB,Home,Loss,24.0,0.0,32.0,0.0,159.0,1.0
8,REG6,DET,Away,Win,7.0,0.0,44.0,0.0,97.0,0.0
9,REG7,BAL,Away,Win,39.0,0.0,62.0,0.0,201.0,1.0
10,REG8,NYJ,Away,Loss,69.0,1.0,97.0,0.0,32.0,1.0
11,REG9,CLE,Home,Loss,11.0,0.0,78.0,0.0,49.0,0.0
12,REG10,0,0,nan,0.0,0.0,0.0,0.0,0.0,0.0
13,REG11,LV,Away,Win,49.0,0.0,15.0,0.0,32.0,1.0
14,REG12,PIT,Home,Win,13.0,0.0,114.0,1.0,39.0,0.0
15,REG13,LAC,Home,Loss,85.0,0.0,138.0,1.0,52.0,0.0
16,REG14,SF,Home,Loss,55.0,0.0,114.0,0.0,77.0,2.0
17,REG15,DEN,Away,Win,96.0,1.0,23.0,0.0,3.0,0.0
18,REG16,BAL,Home,Win,85.0,1.0,194.0,2.0,125.0,0.0
19,REG17,KC,Home,Win,36.0,1.0,62.0,0.0,266.0,3.0
20,REG18,CLE,Away,Loss,0.0,0.0,0.0,0.0,26.0,0.0
21,POST1,LV,Home,Win,26.0,1.0,10.0,0.0,116.0,0.0
22,POST2,TEN,Away,Win,17.0,0.0,96.0,0.0,109.0,0.0
23,POST3,KC,Away,Win,19.0,0.0,103.0,0.0,54.0,1.0
24,POST4,LAR,Neutral,Loss,48.0,0.0,100.0,2.0,89.0,0.0

In [20]:
#install psycopg2 package 
import sys
!{sys.executable} -m pip install psycopg2
!{sys.executable} -m pip install pg8000
!{sys.executable} -m pip install flask-sqlalchemy

Requirement already satisfied: psycopg2 in c:\users\joe_s\anaconda3\lib\site-packages (2.9.5)
Requirement already satisfied: pg8000 in c:\users\joe_s\anaconda3\lib\site-packages (1.29.4)
Requirement already satisfied: scramp>=1.4.3 in c:\users\joe_s\anaconda3\lib\site-packages (from pg8000) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\joe_s\anaconda3\lib\site-packages (from pg8000) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\joe_s\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pg8000) (1.16.0)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\joe_s\anaconda3\lib\site-packages (from scramp>=1.4.3->pg8000) (1.5.1)
Requirement already satisfied: flask-sqlalchemy in c:\users\joe_s\anaconda3\lib\site-packages (3.0.2)
Requirement already satisfied: Flask>=2.2 in c:\users\joe_s\anaconda3\lib\site-packages (from flask-sqlalchemy) (2.2.2)
Requirement already satisfied: SQLAlchemy>=1.4.18 in c:\users\joe_s\anaconda3\lib\site-packages (from flask-sqlalchemy) (1.4.39)
Requirement already satisfied: Jinja2>=3.0 in c:\users\joe_s\anaconda3\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (3.1.2)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\joe_s\anaconda3\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (2.2.2)
Requirement already satisfied: click>=8.0 in c:\users\joe_s\anaconda3\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (8.0.4)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\joe_s\anaconda3\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (2.0.1)
Requirement already satisfied: importlib-metadata>=3.6.0 in c:\users\joe_s\anaconda3\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\joe_s\anaconda3\lib\site-packages (from SQLAlchemy>=1.4.18->flask-sqlalchemy) (1.1.1)
Requirement already satisfied: colorama in c:\users\joe_s\anaconda3\lib\site-packages (from click>=8.0->Flask>=2.2->flask-sqlalchemy) (0.4.5)
Requirement already satisfied: zipp>=0.5 in c:\users\joe_s\anaconda3\lib\site-packages (from importlib-metadata>=3.6.0->Flask>=2.2->flask-sqlalchemy) (3.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\joe_s\anaconda3\lib\site-packages (from Jinja2>=3.0->Flask>=2.2->flask-sqlalchemy) (2.1.2)

In [8]:
import psycopg2
#Run alter statement to fix
conn = psycopg2.connect(
    database="postgres", user='joe_seroski', password='soejeroski', host='ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com', port='5432'
)
query = """ALTER TABLE joe_seroski DROP COLUMN Week,DROP COLUMN Opponent,DROP COLUMN Location,DROP COLUMN Result,DROP COLUMN "Boyd Yards",DROP COLUMN "Boyd TD",DROP COLUMN "Higgins Yards",DROP COLUMN "Higgins TD",DROP COLUMN "Chase Yards",DROP COLUMN "Chase TD";"""
cur = conn.cursor()
cur.execute(query)
#cur.execute(query2)
conn.commit()
conn.close()

In [9]:
#Run alter statement to fix incorrect columns
conn = psycopg2.connect(
    database="postgres", user='joe_seroski', password='soejeroski', host='ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com', port='5432'
)
query = """DELETE FROM joe_seroski;"""
cur = conn.cursor()
cur.execute(query)
#cur.execute(query2)
conn.commit()
conn.close()

In [52]:
#Run alter statement to add columns to sql table
conn = psycopg2.connect(
    database="postgres", user='joe_seroski', password='soejeroski', host='ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com', port='5432'
)
query = "ALTER TABLE joe_seroski ADD Week varchar(20),ADD Opponent varchar(20),ADD Location varchar(20),ADD Result varchar(20),ADD BoydYards INTEGER,ADD BoydTD INTEGER,ADD HigginsYards INTEGER,ADD HigginsTD INTEGER,ADD ChaseYards INTEGER,ADD ChaseTD INTEGER;"

cur = conn.cursor()
cur.execute(query)
conn.commit()
conn.close()

DuplicateColumn: column "week" of relation "joe_seroski" already exists

In [58]:
#Need to modify columns to fix data type
conn = psycopg2.connect(
    database="postgres", user='joe_seroski', password='soejeroski', host='ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com', port='5432'
)
query = "ALTER TABLE joe_seroski ALTER COLUMN BoydYards TYPE decimal,ALTER COLUMN BoydTD TYPE decimal,ALTER COLUMN HigginsYards TYPE decimal,ALTER COLUMN HigginsTD TYPE decimal,ALTER COLUMN ChaseYards TYPE decimal,ALTER COLUMN ChaseTD TYPE decimal;"

cur = conn.cursor()
cur.execute(query)
conn.commit()
conn.close()

In [60]:
#Insert the data frame
import psycopg2
import numpy as np
import psycopg2.extras as extras


def execute_values(conn, df, table):
  
    tuples = [tuple(x) for x in df.to_numpy()]
  
    cols = ','.join(list(df.columns))
    # SQL query to execute
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("the dataframe is inserted")
    cursor.close()
  
  
conn = psycopg2.connect(
    database="postgres", user='joe_seroski', password='soejeroski', host='ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com', port='5432'
)
  
  
execute_values(conn, bengalsfull, 'joe_seroski')

the dataframe is inserted

OperationalError: could not translate host name "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east1.rds.amazonaws.com" to address: Unknown host