In [1]:
#import packages
#Wow am I actually writing Python?
import pandas as pd
import boto3
from boto3 import session
from boto3 import client
import os
import io

In [21]:
#Connect to S3
#Keys passed through as Environmental Variables
s3 = boto3.resource('s3')

my_bucket = s3.Bucket('mindex-data-analytics-code-challenge')

for file in my_bucket.objects.all():
    print(file.key)

bengals.csv
boyd_receiving.csv
chase_receiving.csv
higgins_receiving.csv

In [28]:
#Download the files to a local directory
#I am sure there is some kind of for loop I could do here
s3 = boto3.client('s3')

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="bengals.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/bengals.csv"
)

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="boyd_receiving.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/boyd_receiving.csv"
)

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="chase_receiving.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/chase_receiving.csv"
)

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="higgins_receiving.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/higgins_receiving.csv"
)

In [35]:
#Read CSVs into Dataframes
#Entire Bengals team including win loss record
BTeam = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/bengals.csv")

#Tyler Boyd Stats
Boyd = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/boyd_receiving.csv")

#Jamaar Chase stats
Chase = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/chase_receiving.csv")
Chase.head()

#Tee Higgins stats
Higgins = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/higgins_receiving.csv")
Higgins.head()

   Week  Yards  TD
0  REG1     58   1
1  REG2     60   1
2  REG5     32   0
3  REG6     44   0
4  REG7     62   0

In [55]:
#Look at the structure of the BTeam
BTeam.info()
BTeam.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Week      25 non-null     object
 1   Opponent  24 non-null     object
 2   Location  24 non-null     object
 3   Result    24 non-null     float64
dtypes: float64(1), object(3)
memory usage: 928.0+ bytes

array(['PRE1', 'PRE2', 'PRE3', 'REG1', 'REG2', 'REG3', 'REG4', 'REG5',
       'REG6', 'REG7', 'REG8', 'REG9', 'REG10', 'REG11', 'REG12', 'REG13',
       'REG14', 'REG15', 'REG16', 'REG17', 'REG18', 'POST1', 'POST2',
       'POST3', 'POST4'], dtype=object)

In [51]:
#Look at the structure of Boyd
Boyd.info()
Boyd.head()
Boyd.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week    20 non-null     object
 1   Yards   20 non-null     int64
 2   TD      20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 608.0+ bytes

array(['REG1', 'REG2', 'REG3', 'REG4', 'REG5', 'REG6', 'REG7', 'REG8',
       'REG9', 'REG11', 'REG12', 'REG13', 'REG14', 'REG15', 'REG16',
       'REG17', 'POST1', 'POST2', 'POST3', 'POST4'], dtype=object)

In [50]:
#Look at the structure of Higgins
Higgins.info()
Higgins.head()
Higgins.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week    18 non-null     object
 1   Yards   18 non-null     int64
 2   TD      18 non-null     int64
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

array(['REG1', 'REG2', 'REG5', 'REG6', 'REG7', 'REG8', 'REG9', 'REG11',
       'REG12', 'REG13', 'REG14', 'REG15', 'REG16', 'REG17', 'POST1',
       'POST2', 'POST3', 'POST4'], dtype=object)

In [72]:
# Look at the structure of Chase
Chase.info()
Chase.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week    21 non-null     object
 1   Yards   21 non-null     int64
 2   TD      21 non-null     int64
dtypes: int64(2), object(1)
memory usage: 632.0+ bytes

array(['REG1', 'REG2', 'REG3', 'REG4', 'REG5', 'REG6', 'REG7', 'REG8',
       'REG9', 'REG11', 'REG12', 'REG13', 'REG14', 'REG15', 'REG16',
       'REG17', 'REG18', 'POST1', 'POST2', 'POST3', 'POST4'], dtype=object)

In [79]:
#Rename Columns in Chase to prepare for Joining data together
Chase.head()

#Rename Yards Column and TD column in Chase
Chase2 = Chase.rename(columns={'Yards': 'Chase Yards', 'TD': 'Chase TD'})
Chase2.head()

   Week  Chase Yards  Chase TD
0  REG1          101         1
1  REG2           54         1
2  REG3           65         2
3  REG4           77         0
4  REG5          159         1

In [80]:
#Rename Columns in Higgins
Higgins2 = Higgins.rename(columns={'Yards': 'Higgins Yards', 'TD': 'Higgins TD'})
Higgins2.head()

   Week  Higgins Yards  Higgins TD
0  REG1             58           1
1  REG2             60           1
2  REG5             32           0
3  REG6             44           0
4  REG7             62           0

In [84]:
#Rename Columns in Boyd
Boyd2 = Boyd.rename(columns={'Yards': 'Boyd Yards', 'TD': 'Boyd TD'})
Boyd2.head()

   Week  Boyd Yards  Boyd TD
0  REG1          32        0
1  REG2          73        0
2  REG3          36        1
3  REG4         118        0
4  REG5          24        0

In [122]:
#Merge Tables into one DataFrame
bengalsfull=BTeam.merge(Boyd2, how='left', on='Week').merge(Higgins2, how='left', on='Week').merge(Chase2, how='left', on='Week')

In [123]:
bengalsfull.head()
#Replace NaN with 0
bengalsfull.fillna(0)

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Higgins Yards,Higgins TD,Chase Yards,Chase TD
0,PRE1,TB,Away,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,PRE2,WSH,Away,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,PRE3,MIA,Home,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,REG1,MIN,Home,1.0,32.0,0.0,58.0,1.0,101.0,1.0
4,REG2,CHI,Away,0.0,73.0,0.0,60.0,1.0,54.0,1.0
5,REG3,PIT,Away,1.0,36.0,1.0,0.0,0.0,65.0,2.0
6,REG4,JAX,Home,1.0,118.0,0.0,0.0,0.0,77.0,0.0
7,REG5,GB,Home,0.0,24.0,0.0,32.0,0.0,159.0,1.0
8,REG6,DET,Away,1.0,7.0,0.0,44.0,0.0,97.0,0.0
9,REG7,BAL,Away,1.0,39.0,0.0,62.0,0.0,201.0,1.0
10,REG8,NYJ,Away,0.0,69.0,1.0,97.0,0.0,32.0,1.0
11,REG9,CLE,Home,0.0,11.0,0.0,78.0,0.0,49.0,0.0
12,REG10,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,REG11,LV,Away,1.0,49.0,0.0,15.0,0.0,32.0,1.0
14,REG12,PIT,Home,1.0,13.0,0.0,114.0,1.0,39.0,0.0
15,REG13,LAC,Home,0.0,85.0,0.0,138.0,1.0,52.0,0.0
16,REG14,SF,Home,0.0,55.0,0.0,114.0,0.0,77.0,2.0
17,REG15,DEN,Away,1.0,96.0,1.0,23.0,0.0,3.0,0.0
18,REG16,BAL,Home,1.0,85.0,1.0,194.0,2.0,125.0,0.0
19,REG17,KC,Home,1.0,36.0,1.0,62.0,0.0,266.0,3.0
20,REG18,CLE,Away,0.0,0.0,0.0,0.0,0.0,26.0,0.0
21,POST1,LV,Home,1.0,26.0,1.0,10.0,0.0,116.0,0.0
22,POST2,TEN,Away,1.0,17.0,0.0,96.0,0.0,109.0,0.0
23,POST3,KC,Away,1.0,19.0,0.0,103.0,0.0,54.0,1.0
24,POST4,LAR,Neutral,0.0,48.0,0.0,100.0,2.0,89.0,0.0

In [124]:
#Convert Result column to string
bengalsfull['Result']=bengalsfull['Result'].astype(str)

In [125]:
#Check data types
bengalsfull.dtypes

Week              object
Opponent          object
Location          object
Result            object
Boyd Yards       float64
Boyd TD          float64
Higgins Yards    float64
Higgins TD       float64
Chase Yards      float64
Chase TD         float64
dtype: object

In [134]:
#Replace values in Result column 
bengalsfull['Result']=bengalsfull['Result'].replace('1.0','Win')
bengalsfull['Result']=bengalsfull['Result'].replace('0.0','Loss')
print(bengalsfull)

     Week Opponent Location Result  Boyd Yards  Boyd TD  Higgins Yards  \
0    PRE1       TB     Away    Win         NaN      NaN            NaN
1    PRE2      WSH     Away   Loss         NaN      NaN            NaN
2    PRE3      MIA     Home   Loss         NaN      NaN            NaN
3    REG1      MIN     Home    Win        32.0      0.0           58.0
4    REG2      CHI     Away   Loss        73.0      0.0           60.0
5    REG3      PIT     Away    Win        36.0      1.0            NaN
6    REG4      JAX     Home    Win       118.0      0.0            NaN
7    REG5       GB     Home   Loss        24.0      0.0           32.0
8    REG6      DET     Away    Win         7.0      0.0           44.0
9    REG7      BAL     Away    Win        39.0      0.0           62.0
10   REG8      NYJ     Away   Loss        69.0      1.0           97.0
11   REG9      CLE     Home   Loss        11.0      0.0           78.0
12  REG10      NaN      NaN    nan         NaN      NaN            NaN
13  REG11       LV     Away    Win        49.0      0.0           15.0
14  REG12      PIT     Home    Win        13.0      0.0          114.0
15  REG13      LAC     Home   Loss        85.0      0.0          138.0
16  REG14       SF     Home   Loss        55.0      0.0          114.0
17  REG15      DEN     Away    Win        96.0      1.0           23.0
18  REG16      BAL     Home    Win        85.0      1.0          194.0
19  REG17       KC     Home    Win        36.0      1.0           62.0
20  REG18      CLE     Away   Loss         NaN      NaN            NaN
21  POST1       LV     Home    Win        26.0      1.0           10.0
22  POST2      TEN     Away    Win        17.0      0.0           96.0
23  POST3       KC     Away    Win        19.0      0.0          103.0
24  POST4      LAR  Neutral   Loss        48.0      0.0          100.0

    Higgins TD  Chase Yards  Chase TD
0          NaN          NaN       NaN
1          NaN          NaN       NaN
2          NaN          NaN       NaN
3          1.0        101.0       1.0
4          1.0         54.0       1.0
5          NaN         65.0       2.0
6          NaN         77.0       0.0
7          0.0        159.0       1.0
8          0.0         97.0       0.0
9          0.0        201.0       1.0
10         0.0         32.0       1.0
11         0.0         49.0       0.0
12         NaN          NaN       NaN
13         0.0         32.0       1.0
14         1.0         39.0       0.0
15         1.0         52.0       0.0
16         0.0         77.0       2.0
17         0.0          3.0       0.0
18         2.0        125.0       0.0
19         0.0        266.0       3.0
20         NaN         26.0       0.0
21         0.0        116.0       0.0
22         0.0        109.0       0.0
23         0.0         54.0       1.0
24         2.0         89.0       0.0

In [138]:
bengalsfull.fillna(0)

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Higgins Yards,Higgins TD,Chase Yards,Chase TD
0,PRE1,TB,Away,Win,0.0,0.0,0.0,0.0,0.0,0.0
1,PRE2,WSH,Away,Loss,0.0,0.0,0.0,0.0,0.0,0.0
2,PRE3,MIA,Home,Loss,0.0,0.0,0.0,0.0,0.0,0.0
3,REG1,MIN,Home,Win,32.0,0.0,58.0,1.0,101.0,1.0
4,REG2,CHI,Away,Loss,73.0,0.0,60.0,1.0,54.0,1.0
5,REG3,PIT,Away,Win,36.0,1.0,0.0,0.0,65.0,2.0
6,REG4,JAX,Home,Win,118.0,0.0,0.0,0.0,77.0,0.0
7,REG5,GB,Home,Loss,24.0,0.0,32.0,0.0,159.0,1.0
8,REG6,DET,Away,Win,7.0,0.0,44.0,0.0,97.0,0.0
9,REG7,BAL,Away,Win,39.0,0.0,62.0,0.0,201.0,1.0
10,REG8,NYJ,Away,Loss,69.0,1.0,97.0,0.0,32.0,1.0
11,REG9,CLE,Home,Loss,11.0,0.0,78.0,0.0,49.0,0.0
12,REG10,0,0,nan,0.0,0.0,0.0,0.0,0.0,0.0
13,REG11,LV,Away,Win,49.0,0.0,15.0,0.0,32.0,1.0
14,REG12,PIT,Home,Win,13.0,0.0,114.0,1.0,39.0,0.0
15,REG13,LAC,Home,Loss,85.0,0.0,138.0,1.0,52.0,0.0
16,REG14,SF,Home,Loss,55.0,0.0,114.0,0.0,77.0,2.0
17,REG15,DEN,Away,Win,96.0,1.0,23.0,0.0,3.0,0.0
18,REG16,BAL,Home,Win,85.0,1.0,194.0,2.0,125.0,0.0
19,REG17,KC,Home,Win,36.0,1.0,62.0,0.0,266.0,3.0
20,REG18,CLE,Away,Loss,0.0,0.0,0.0,0.0,26.0,0.0
21,POST1,LV,Home,Win,26.0,1.0,10.0,0.0,116.0,0.0
22,POST2,TEN,Away,Win,17.0,0.0,96.0,0.0,109.0,0.0
23,POST3,KC,Away,Win,19.0,0.0,103.0,0.0,54.0,1.0
24,POST4,LAR,Neutral,Loss,48.0,0.0,100.0,2.0,89.0,0.0

In [177]:
#install psycopg2 package 
import sys
!{sys.executable} -m pip install psycopg2
!{sys.executable} -m pip install pg8000
!{sys.executable} -m pip install flask-sqlalchemy

Requirement already satisfied: psycopg2 in c:\users\joe_s\anaconda3\lib\site-packages (2.9.5)
Requirement already satisfied: pg8000 in c:\users\joe_s\anaconda3\lib\site-packages (1.29.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\joe_s\anaconda3\lib\site-packages (from pg8000) (2.8.2)
Requirement already satisfied: scramp>=1.4.3 in c:\users\joe_s\anaconda3\lib\site-packages (from pg8000) (1.4.4)
Requirement already satisfied: six>=1.5 in c:\users\joe_s\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pg8000) (1.16.0)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\joe_s\anaconda3\lib\site-packages (from scramp>=1.4.3->pg8000) (1.5.1)
Collecting flask-sqlalchemy
  Downloading Flask_SQLAlchemy-3.0.2-py3-none-any.whl (24 kB)
Requirement already satisfied: SQLAlchemy>=1.4.18 in c:\users\joe_s\anaconda3\lib\site-packages (from flask-sqlalchemy) (1.4.39)
Collecting Flask>=2.2
  Downloading Flask-2.2.2-py3-none-any.whl (101 kB)
     -------------------------------------- 101.5/101.5 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: itsdangerous>=2.0 in c:\users\joe_s\anaconda3\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (2.0.1)
Requirement already satisfied: click>=8.0 in c:\users\joe_s\anaconda3\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (8.0.4)
Collecting Werkzeug>=2.2.2
  Downloading Werkzeug-2.2.2-py3-none-any.whl (232 kB)
     -------------------------------------- 232.7/232.7 kB 7.2 MB/s eta 0:00:00
Requirement already satisfied: importlib-metadata>=3.6.0 in c:\users\joe_s\anaconda3\lib\site-packages (from Flask>=2.2->flask-sqlalchemy) (4.11.3)
Collecting Jinja2>=3.0
  Using cached Jinja2-3.1.2-py3-none-any.whl (133 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\joe_s\anaconda3\lib\site-packages (from SQLAlchemy>=1.4.18->flask-sqlalchemy) (1.1.1)
Requirement already satisfied: colorama in c:\users\joe_s\anaconda3\lib\site-packages (from click>=8.0->Flask>=2.2->flask-sqlalchemy) (0.4.5)
Requirement already satisfied: zipp>=0.5 in c:\users\joe_s\anaconda3\lib\site-packages (from importlib-metadata>=3.6.0->Flask>=2.2->flask-sqlalchemy) (3.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\joe_s\anaconda3\lib\site-packages (from Jinja2>=3.0->Flask>=2.2->flask-sqlalchemy) (2.0.1)
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.1.2-cp39-cp39-win_amd64.whl (16 kB)
Installing collected packages: MarkupSafe, Werkzeug, Jinja2, Flask, flask-sqlalchemy
  Attempting uninstall: MarkupSafe
    Found existing installation: MarkupSafe 2.0.1
    Uninstalling MarkupSafe-2.0.1:
      Successfully uninstalled MarkupSafe-2.0.1
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 2.0.3
    Uninstalling Werkzeug-2.0.3:
      Successfully uninstalled Werkzeug-2.0.3
  Attempting uninstall: Jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
  Attempting uninstall: Flask
    Found existing installation: Flask 1.1.2
    Uninstalling Flask-1.1.2:
      Successfully uninstalled Flask-1.1.2
Successfully installed Flask-2.2.2 Jinja2-3.1.2 MarkupSafe-2.1.2 Werkzeug-2.2.2 flask-sqlalchemy-3.0.2

In [187]:
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

url_object = URL.create(
    "postgresql+psycopg2",
    username="joe_seroski",
    password="soejeroski",
    host="ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com",
    database="postgres",
)

#create the connection string
db = create_engine(url_object)
conn = db.connect()

bengalsfull.to_sql('joe_seroski', con=conn, if_exists='replace',
          index=True)
conn = psycopg2.connect(conn_string
                        )
conn.autocommit = True
cursor = conn.cursor()
  
bengals = '''select * from data;'''
cursor.execute(bengals)
for i in cursor.fetchall():
    print(i)
  
# conn.commit()
conn.close()

OperationalError: could not translate host name "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east1.rds.amazonaws.com" to address: Unknown host