In [1]:
#import packages
#Wow am I actually writing Python?
import pandas as pd
import boto3
from boto3 import session
from boto3 import client
import os
import io

In [21]:
#Connect to S3
#Keys passed through as Environmental Variables
s3 = boto3.resource('s3')

my_bucket = s3.Bucket('mindex-data-analytics-code-challenge')

for file in my_bucket.objects.all():
    print(file.key)

bengals.csv
boyd_receiving.csv
chase_receiving.csv
higgins_receiving.csv

In [28]:
#Download the files to a local directory
#I am sure there is some kind of for loop I could do here
s3 = boto3.client('s3')

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="bengals.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/bengals.csv"
)

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="boyd_receiving.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/boyd_receiving.csv"
)

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="chase_receiving.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/chase_receiving.csv"
)

s3.download_file(
    Bucket="mindex-data-analytics-code-challenge", Key="higgins_receiving.csv", Filename=r"C:/Users/joe_s/OneDrive/Documents/higgins_receiving.csv"
)

In [35]:
#Read CSVs into Dataframes
#Entire Bengals team including win loss record
BTeam = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/bengals.csv")

#Tyler Boyd Stats
Boyd = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/boyd_receiving.csv")

#Jamaar Chase stats
Chase = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/chase_receiving.csv")
Chase.head()

#Tee Higgins stats
Higgins = pd.read_csv("C:/Users/joe_s/OneDrive/Documents/higgins_receiving.csv")
Higgins.head()

   Week  Yards  TD
0  REG1     58   1
1  REG2     60   1
2  REG5     32   0
3  REG6     44   0
4  REG7     62   0

In [55]:
#Look at the structure of the BTeam
BTeam.info()
BTeam.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Week      25 non-null     object
 1   Opponent  24 non-null     object
 2   Location  24 non-null     object
 3   Result    24 non-null     float64
dtypes: float64(1), object(3)
memory usage: 928.0+ bytes

array(['PRE1', 'PRE2', 'PRE3', 'REG1', 'REG2', 'REG3', 'REG4', 'REG5',
       'REG6', 'REG7', 'REG8', 'REG9', 'REG10', 'REG11', 'REG12', 'REG13',
       'REG14', 'REG15', 'REG16', 'REG17', 'REG18', 'POST1', 'POST2',
       'POST3', 'POST4'], dtype=object)

In [51]:
#Look at the structure of Boyd
Boyd.info()
Boyd.head()
Boyd.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week    20 non-null     object
 1   Yards   20 non-null     int64
 2   TD      20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 608.0+ bytes

array(['REG1', 'REG2', 'REG3', 'REG4', 'REG5', 'REG6', 'REG7', 'REG8',
       'REG9', 'REG11', 'REG12', 'REG13', 'REG14', 'REG15', 'REG16',
       'REG17', 'POST1', 'POST2', 'POST3', 'POST4'], dtype=object)

In [50]:
#Look at the structure of Higgins
Higgins.info()
Higgins.head()
Higgins.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week    18 non-null     object
 1   Yards   18 non-null     int64
 2   TD      18 non-null     int64
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

array(['REG1', 'REG2', 'REG5', 'REG6', 'REG7', 'REG8', 'REG9', 'REG11',
       'REG12', 'REG13', 'REG14', 'REG15', 'REG16', 'REG17', 'POST1',
       'POST2', 'POST3', 'POST4'], dtype=object)

In [72]:
# Look at the structure of Chase
Chase.info()
Chase.Week.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week    21 non-null     object
 1   Yards   21 non-null     int64
 2   TD      21 non-null     int64
dtypes: int64(2), object(1)
memory usage: 632.0+ bytes

array(['REG1', 'REG2', 'REG3', 'REG4', 'REG5', 'REG6', 'REG7', 'REG8',
       'REG9', 'REG11', 'REG12', 'REG13', 'REG14', 'REG15', 'REG16',
       'REG17', 'REG18', 'POST1', 'POST2', 'POST3', 'POST4'], dtype=object)

In [79]:
#Rename Columns in Chase to prepare for Joining data together
Chase.head()

#Rename Yards Column and TD column in Chase
Chase2 = Chase.rename(columns={'Yards': 'Chase Yards', 'TD': 'Chase TD'})
Chase2.head()

   Week  Chase Yards  Chase TD
0  REG1          101         1
1  REG2           54         1
2  REG3           65         2
3  REG4           77         0
4  REG5          159         1

In [80]:
#Rename Columns in Higgins
Higgins2 = Higgins.rename(columns={'Yards': 'Higgins Yards', 'TD': 'Higgins TD'})
Higgins2.head()

   Week  Higgins Yards  Higgins TD
0  REG1             58           1
1  REG2             60           1
2  REG5             32           0
3  REG6             44           0
4  REG7             62           0

In [83]:
#Rename Columns in Boyd
Boyd2 = Boyd.rename(columns={'Yards': 'Boyd Yards', 'TD': 'Boyd TD'})
Boyd2.head()

   Week  Boyd Yards  Boyd TD
0  REG1          32        0
1  REG2          73        0
2  REG3          36        1
3  REG4         118        0
4  REG5          24        0